* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
    font-family: sans-serif;
    height:100%;
    background: #232323;
    
}




.HolyGraillayout {
  display: flex;
  height: 100%; /* 1, 3 */
  flex-direction: column;
  //background-color: #303538
}

.layout-header,
.layout-footer {
    height:100px;
    flex: none; /* 2 */
}

.layout-body {
  display: flex;
  flex: 1 0 auto; /* 2 */
  flex-direction: row;
  
}

.layout-content {
 flex:1;
}

.layout-nav {
    width: 200px;
    order: -1;
}

.layout-ad{
    width: 200px;
    order:2;
}



/*--------------------------------------------------------------------------------------------------------------------*/
/*  Packery rules*/


.packery {
//background: #FDD;
    background-color: inherit;
//background-color:hsla(0, 0%, 100%, 0.4);
//background-color: #303538
display:block;
    width:100%;

}

/* clearfix */
.packery:after {
    content: ' ';
    display: block;
    clear: both;
}





.item{

}

.item-content {
  width: inherit;
  height: inherit;
    border-radius: 2px;
}

.item-content {
  //width: 100px;
  //height: 100px;
  background: hsla(202,95%,52%,0.65);
  
  //border: 4px solid #333;
  //border-color: hsla(0, 0%, 100%, 0.4);
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}



/* both item and item content change size */
.item.is-expanded,
.item.is-expanded .item-content {
  width: 100%;
  height: 600px;
}

.item:hover { cursor: pointer; }

.item:hover .item-content {
  border-color: white;
}

.item.is-expanded {
  z-index: 2;
}

.item.is-expanded .item-content {
  background: hsla(105,65%,57%,0.65);
}



/*--------------------------------------------------------------------------------------------------------------------*/
/*  Relevance Group rules*/

.HR{

    width:450px;
    height: 400px;

}

.MR{

    width: 350px;
    height: 300px;

}

.SR{

    width: 250px;
    height: 200px;

}

/*------------------------------------------------------------------------------------------------*/


.container{
    height:100%;
    display:flex;
    flex-warp:wrap;
    flex-direction:column;
    pointer-events: none;
    border:10px;

}

.expand{
}

.container-first-row{
    display:flex;
    width:100%;
}

.container-second-row{
}


.container-third-row{
    display:none;
}







.rel_score{
    pointer-events: none;
    flex-grow:1;
}

.vid_details{
    display: none;
    pointer-events: none;
}

.vid_keywords{
    display:none;
}

.vid_img{
    display:none;
}


.segbar{
    display: none;
    width:100%;
    height:100%;
}

.seg{
    background-color: darkgreen;
    margin: 10px;
    width:100%;
    height:20px;

}



.rel_score.expand{
    display:inline;
    order:2;
    flex-grow:1;
}

.vid_details.expand{
    display: inline;
    flex-grow:1;
}

.vid_img.expand{
    display: inline;
    flex-grow:1;
    order:-1;

}

.vid_keywords.expand{
    display:inline;
    flex-grow:1;
    order:3;
}

.segbar.expand{
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
}

.container-third-row.expand{
    display:inline;
}
